.bottombar {
	background-color: hsl(260, 50%, 75%);
	color: black;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	font-size: 20px;
  }
  
  .bottombar div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: black;
	padding: 20px 20px;
  }
  
  .bottombar div.active {
	border-radius: 30%;
	background-color: #ECDFF5;
	color: black;
  }
  
  .bottombar span {
	font-size: 12px;
	margin-top: 5px;
  }

  .icons {
	height: 10vw;
  }
  